<div id="sidebar">
  <img src="./../../../assets/images/LOGO.png" alt="" />
  <a routerLink="/dashboard/home"><i class="ri-home-line"></i>Home</a>
  <a routerLink="/dashboard/bookmark"><i class="ri-book-line"></i>Bookmark</a>
  <a routerLink="/dashboard/search"><i class="ri-search-line"></i>Search</a>
  <a routerLink="/dashboard/user"><i class="ri-map-pin-user-line"></i>User</a>
  <a routerLink="/dashboard/stats"><i class="ri-bar-chart-line"></i>Stats</a>
  <a routerLink="/dashboard/info"><i class="ri-information-line"></i>Info</a>
</div>
