#sidebar {
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
  justify-content: center;
  min-height: 105vh;
  width: 18vw;
}

i {
  font-size: 2vw;
  color: white;
}

a {
  padding: 1vw;
  border-radius: 5vw;
  display: flex;
  align-items: center;
  gap: 1vw;
  font-weight: 900;
  color: white;
}

a:hover {
  background-color: #fff;
  color: blueviolet;
}

a:hover i {
  color: blueviolet;
}

#sidebar img {
  height: 20vh;
  width: 8vw;
  margin: 2vw auto;
}

@media (max-width: 600px) {
  #sidebar {
    display: none;
  }
}
