<!-- Layout 3 -->
<div
  id="sidebar"
  class="flex flex-col bg-[blueviolet] justify-center min-h-[105vh] w-[18vw]"
>
  <a
    class="p-[1vw] rounded-xl flex items-center gap-[1vw] font-bold text-white hover:bg-white hover:text-[blueviolet]"
    routerLink="/dashboard/home"
    ><i class="ri-home-line text-[2vw]"></i>Home</a
  >
  <a
    class="p-[1vw] rounded-xl flex items-center gap-[1vw] font-bold text-white hover:bg-white hover:text-[blueviolet]"
    routerLink="/dashboard/bookmark"
    ><i class="ri-book-line text-[2vw]"></i>Bookmark</a
  >
  <a
    class="p-[1vw] rounded-xl flex items-center gap-[1vw] font-bold text-white hover:bg-white hover:text-[blueviolet]"
    routerLink="/dashboard/search"
    ><i class="ri-search-line text-[2vw]"></i>Search</a
  >
  <a
    class="p-[1vw] rounded-xl flex items-center gap-[1vw] font-bold text-white hover:bg-white hover:text-[blueviolet]"
    routerLink="/dashboard/user"
    ><i class="ri-map-pin-user-line text-[2vw]"></i>User</a
  >
  <a
    class="p-[1vw] rounded-xl flex items-center gap-[1vw] font-bold text-white hover:bg-white hover:text-[blueviolet]"
    routerLink="/dashboard/stats"
    ><i class="ri-bar-chart-line text-[2vw]"></i>Stats</a
  >
  <a
    class="p-[1vw] rounded-xl flex items-center gap-[1vw] font-bold text-white hover:bg-white hover:text-[blueviolet]"
    routerLink="/dashboard/info"
    ><i class="ri-information-line text-[2vw]"></i>Info</a
  >
</div>
