.card {
  height: 18vh;
  width: 17vw;
  padding: 1vw;
  border: 2px solid #e6e2fe;
  border-radius: 0.5vw;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50%;
  width: 100%;
}

.card-top-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
}

.card-top-left i {
  font-size: 1.3vw;
  border-radius: 3px;
  padding: 3px 7px;
  background-color: blueviolet;
  color: white;
}

.card-bottom {
  height: 50%;
  width: 100%;
}

.card-bottom h2 {
  margin-top: 0.5vw;
}

@media (max-width: 600px) {
  .card {
    height: 10vh;
    width: 35vw;
    text-align: center;
  }

  .card-bottom h2 {
    font-size: 4vw;
  }

  .card-top-left i {
    display: none;
  }

  .card-top-right {
    display: none;
  }
}
