#dashboard {
  height: 100%;
  width: 100%;
  padding: 3vw 10vw;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-right i {
  font-size: 1.5vw;
  padding: 0.5vw;
  cursor: pointer;
}

#header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

#header-right img {
  height: 2.8vw;
  border-radius: 50%;
}

#multi-card {
  margin-top: 2vw;
  display: flex;
  gap: 1vw;
}

#chart-column {
  height: 25vw;
  width: 40vw;
  margin-top: 3vw;
  display: flex;
  align-items: center;
  gap: 5vw;
}
